@media screen and (max-width:991px) {
    .nested-item-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .slider-cards {
        gap: 20px;
    }
}

@media screen and (max-width:768px) {
    .nested-item-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .nested-items {
        gap: 10px;
        justify-content: center;
        margin: 20px auto 0 auto;
    }

    .nested-item {
        padding: 6px 10px;
    }

    .tabs-options {
        top: 40px;
    }

    .nested-tab {
        padding: 50px 0;
    }

    .nested-item-content {
        margin-top: 44px;
    }

    .slider-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .custom-slider{
        padding: 50px 0;
    }
}

@media screen and (max-width:575px) {
    .nested-item-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .splide__pagination{
        display: none;
    }

    .tab-list{
        overflow-x: auto;
    }

    .slider-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .slider-card{
        max-width: 100%;
    }
}