* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: "Inter", sans-serif;
}

a {
    color: currentColor;
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
    display: block;
}

.nested-tab {
    padding: 100px 0;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.nested-tab-title {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    line-height: 1.3;
}

.nested-items {
    display: flex;
    gap: 30px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 30px auto 0 auto;
    max-width: max-content;
    white-space: nowrap;
    flex-wrap: wrap;
}

.nested-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    padding: 16px 20px;
    color: white;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border-radius: 10px;
}

.tabs-options {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 100%;
    background-color: white;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.233);
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}

.nested-item-wrapper {
    position: relative;
}

.nested-item-wrapper:hover .tabs-options {
    visibility: visible;
    opacity: 1;
}

.nested-task {
    width: 100%;
    padding: 10px;
}

.nested-task:hover {
    background-color: #808080b7;
}

.nested-item-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* margin-top: 64px; */
}

.nested-card-img {
    border-radius: 20px;
}

.nested-card {
    border-radius: 20px;
    box-shadow: 6px 6px 10px 0px #0000003b;
    padding: 20px;
    /* max-width: 400px; */
}

.nested-card-content {
    margin-top: 20px;
}

.nested-card-title {
    font-size: 14px;
    color: #6941C6;
    font-weight: 500;
}

.nested-card-head {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #181D27;
}

.nested-card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 10px;
    color: #535862;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

.nested-img-content {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: #D6CFB7;
    overflow: hidden;
}

.nested-cards-content {
    margin-top: 20px;
}

.nested-cards-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nested-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #181D27;
}

.nested-sub-title {
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    color: #535862;
}

.nested-card-img {
    min-height: 220px;
}

.splide.splide-slider {
    visibility: visible;
}

.splide__track.splide-slider-track {
    overflow: visible;
}

.splide__pagination {
    margin-top: 40px;
    top: 100%;
    gap: 10px;
}

.splide__pagination__page{
    margin: 0;
    width: 24px;
    height: 24px;
    background-color: #6941C6;
    opacity: 100%;
    border-radius: 4px;
    color: white;
    font-family: "Inter", sans-serif;
}

.splide__pagination__page.is-active{
    background-color: #6941C6;
}

.splide__arrow{
    background: #6941C6;
    border-radius: 4px;
    padding: 20px;
    width: max-content;
    color: white;
    font-size: 16px;
    opacity: 100%;
    font-family: "Inter", sans-serif;
    transform: none;
    top: 100%;
    margin-top: 30px;
}

.splide__arrow--prev svg{
    display: none;
}

.splide__arrow--next svg{
    display: none;
}

.splide__pagination {
    counter-reset: pagination-num;
  }
  
  .splide__pagination__page:before {
    counter-increment: pagination-num;
    content: counter( pagination-num );
  }