* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: "Inter", sans-serif;
}

a {
    color: currentColor;
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.card-section {
    padding: 50px 0;
}

.card-title {
    font-size: 30px;
    font-weight: 500;
    color: black;
    line-height: 1.2;
}

.card-form {
    margin-top: 20px;
    position: relative;
}

.card-select {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.card-select span {
    font-size: 18px;
    font-weight: 500;
}

.card-select svg {
    width: 24px;
    aspect-ratio: 1;
    transition: all 0.3s ease-in-out;
}

.card-select:hover {
    border: 2px solid green;
}

.card-select:focus {
    border: 2px solid green;
}

.card-select-option {
    border: 2px solid black;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}

.card-option {
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.card-option:hover {
    background-color: black;
    color: white;
}

.active {
    visibility: visible;
    opacity: 100%;
    transform: translateY(0px);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-content {
    margin-top: 40px;
    overflow-x: auto;
}

th,
td {
    text-align: left;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

th {
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: black;
    color: white;
}

.custom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.custom-icon svg {
    width: 24px;
    aspect-ratio: 1;
}

.custom-icon {
    width: 40px;
    aspect-ratio: 1;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.custom-icon span {
    font-size: 18px;
}

.tab-list {
    display: flex;
    margin-bottom: 24px;
}

.tab-item {
    overflow: hidden;
    cursor: pointer;
    padding: 12px 8px;
    margin-right: 24px;
    text-shadow: 0 0 0.5px currentColor;
    letter-spacing: 1px;
    transition: 0.2s;
    font-size: 18px;
    position: relative;
    color: #777777;
}

.tab-item:before {
    content: "";
    position: absolute;
    top: 95%;
    left: 0;
    height: 2px;
    width: 100%;
    background: #19d9b4;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
}

.tab-item.is--active {
    color: #444;
    position: relative;
}

.tab-item.is--active:before {
    visibility: visible;
    opacity: 1;
}

.tab-content {
    padding: 32px;
    background: #ffffff;
    border-radius: 0 10px 10px;
}

.tab-content-item {
    display: none;
}

.tab-content-item.is--active {
    display: block;
}

.tab-content-title {
    padding: 24px 24px 24px 0;
}

.tab .tab .tab-item {
    font-size: 16px;
}

.tab .tab .tab-content {
    padding: 0;
}