* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: "Inter", sans-serif;
}

a {
    color: currentColor;
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

/* Custom pagination cards  */

.custom-slider {
    padding: 100px 0;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-card-img {
    border-radius: 20px;
}

.slider-card {
    border-radius: 20px;
    box-shadow: 6px 6px 10px 0px #0000003b;
    padding: 20px;
}

.slider-card-content {
    margin-top: 20px;
}

.slider-card-title {
    font-size: 14px;
    color: #6941C6;
    font-weight: 500;
}

.slider-card-head {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #181D27;
}

.slider-card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 10px;
    color: #535862;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

.slider-img-content {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: #D6CFB7;
    overflow: hidden;
}

.slider-cards-content {
    margin-top: 20px;
}

.slider-cards-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #181D27;
}

.slider-sub-title {
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    color: #535862;
}

.splide.splide-slider {
    visibility: visible;
}

.splide__track.splide-slider-track {
    overflow: visible;
}

.splide__pagination {
    margin-top: 40px;
    top: 100%;
    gap: 10px;
}

.splide__pagination__page {
    margin: 0;
    width: 24px;
    height: 24px;
    background-color: #6941C6;
    opacity: 100%;
    border-radius: 4px;
    color: white;
    font-family: "Inter", sans-serif;
}

.splide__pagination__page.is-active {
    background-color: #6941C6;
}

.splide__arrow {
    background: #6941C6;
    border-radius: 4px;
    padding: 20px;
    width: max-content;
    color: white;
    font-size: 16px;
    opacity: 100%;
    font-family: "Inter", sans-serif;
    transform: none;
    top: 100%;
    margin-top: 30px;
}

.splide__arrow--prev svg {
    display: none;
}

.splide__arrow--next svg {
    display: none;
}

.splide__pagination {
    counter-reset: pagination-num;
}

.splide__pagination__page:before {
    counter-increment: pagination-num;
    content: counter(pagination-num);
}

/* tabs  */

.tab-section {
    background: rgba(240, 248, 255, 0.9);
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-list {
    display: flex;
    margin-bottom: 24px;
}

.tab-item {
    overflow: hidden;
    cursor: pointer;
    padding: 12px 8px;
    margin-right: 24px;
    text-shadow: 0 0 0.5px currentColor;
    letter-spacing: 1px;
    transition: 0.2s;
    font-size: 18px;
    position: relative;
    color: #777777;
}

.tab-item:before {
    content: "";
    position: absolute;
    top: 95%;
    left: 0;
    height: 2px;
    width: 100%;
    background: #19d9b4;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
}

.tab-item.is-active {
    color: #444;
    position: relative;
}

.tab-item.is-active:before {
    visibility: visible;
    opacity: 1;
}

.tab-content {
    padding: 32px;
    background: #ffffff;
    border-radius: 0 10px 10px;
}

.tab-content-item {
    display: none;
}

.tab-content-item.is-active {
    display: block;
}

.tab-content-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

.tab .tab .tab-item {
    font-size: 16px;
}

.tab .tab .tab-content {
    padding: 0;
}

.tab-card{
    padding: 20px;
    background-color: white;
    border: 1px solid #808080a4;
    text-align: center;
}

.tab-cards{
    display: flex;
    align-items: center;
    gap: 20px;
}

.tab-title{
    color: #19d9b4;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 20px;
}

.tab-title span{
    font-size: 16px;
    color: gray;
    opacity: 40%;
}

.tab-description{
    font-size: 14px;
    color: black;
    line-height: 1.4;
    font-weight: 500;
    max-width: 300px;
    padding-top: 20px;
    border-top: 1px solid #808080a4;
}

.tab-content-item p{
    margin-top: 20px;
}