* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: "Inter", sans-serif;
}

a {
    color: currentColor;
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

